.main-area{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

.proccess-area{
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    animation: mymove infinite 1s;
}
.proccess-area h1, .proccess-area button, .proccess-area input{
    text-align: center;
}

.proccess-area h1{
}

.proccess-area span{
    display: block;
    float: none;
    background: linear-gradient(
    to right,
    #b20000 20%,
    #faab00 30%,
    #c70000 70%,
    #feba00 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.proccess-area button{
    border-radius: 5px;
}

@keyframes mymove {
    10% {box-shadow: 0px 0px 30px rgb(255, 0, 0);}
    20% {box-shadow: 0px 0px 30px rgb(255, 0, 0);}
    30% {box-shadow: 0px 0px 30px rgb(255, 255, 255);}
    40% {box-shadow: 0px 0px 30px rgb(255, 255, 255);}
    50% {box-shadow: 0px 0px 30px rgb(255, 0, 0);}
    60% {box-shadow: 0px 0px 30px rgb(255, 255, 255);}
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

